.idea
deployment
.classpath
.project
*.bak
*.lock
*.launch
.settings/
.gradle/
.svn/
.mendix-cache/
GPUCache/
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/opc ua connector.mpr.bak
/opc ua connector.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
